<div class="container">
  <h2>Participation edit</h2>
  <%= simple_form_for [@game, @participation] do |f| %>
    <% @fields.each do |field| %>
        <% tri = instance_variable_get('@'+field+'s') %>
        <%= f.input field.to_sym, label: field, collection: tri.sample(2) %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
