.btn{
  display: flex;
  justify-content: center;
}

.button{
  margin: 32px auto;
}

.info-partie{
  background-color: $tpurple;

  .info-partie-container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 64px;
    color: white;
}
  p{
    font-size: 16px;
    margin: 0;
    flex: 0 0 50%;
  }
}

.info-partie-token{
  flex: 0 0 50%;

  p{
    background-color: white;
    color: $tred;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 16px 64px;
    border-radius: 20px;
    text-align: center;
  }
}

.participants-list{
    margin-top: 24px;
    color: $dark-tblue;

   .participants li{
    background-color: rgb(249, 249, 249);
    margin: 6px auto;
    padding: 4px 24px;
    border-radius: 20px;
    list-style: none;
    width: 600px;

  }
  span {
    font-weight: bold;
    color: $tpurple;
  }
}

.autre-participants p{
  background-color: rgb(249, 249, 249);
  margin: 6px auto;
  padding: 4px 24px;
  border-radius: 20px;
  width: 600px;
}

.bar {
  width: 15px;
  height: 6px;
  border-radius: 2px;
  background-color: $tpurple;
}

// ----------------- load indiator -------------------------- >

#load{
  display: flex;
  align-items: center;
  margin-top: 32px;

  p{
    margin: 0;
    margin-right: 32px;
    font-weight: bold;
  }
  .bar {
    animation: loading 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }
}

// ----------------- load indicator anim -------------------------- >

@keyframes loading {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(80px, 0);
    background-color: $tred;
    width: 25px;
  }
}

// ----------------- criteres tag -------------------------- >

.tag-item, .provider-tag-item {
  display: inline-block;
}

.tag-selector, .provider-tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  border-radius: 50rem;
  padding: 4px 24px;
  background-color: #ECEAFF;
  color: $tpurple;
  border: 1px solid #7E73FF;
  margin-right: 32px;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #7E73FF;
  color: white;
}

h4{
  margin: 32px 0;
  margin-top: 48px;
}

.tag-criteres{
  display: flex;
  flex-wrap: wrap;

    .form-check{
      padding-left: 0;
    }
}
// ----------------- provider tag -------------------------- >

.provider-tag-selector + label{
  cursor: pointer;
  display: inline-block;
  margin-right: 32px;
  margin-bottom: 12px;
}

.provider-tag-selector:checked + label {
  box-shadow: 0 0 0 5px #7E73FF;
  transition: box-shadow 0.11s;
}
