// Specific CSS for your home-page

body {
  background-color: $dark-tblue;
  color: white;
}

p{
  font-family: $t-body-font;
  margin: 0;
}

h1, h4{
  font-family: $t-body-font;
  margin: 0;
}

h2, h3{
  font-family: $t-title-font;
  margin: 0;
}

ul{
  padding: 0;
}


// ----------------- scroll indicator -------------------------- >

.bottom{
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.scroll-indicator {
  width: 24px;
  height: 24px;
  margin: 16px auto;
  border-right: 2px solid $tred;
  border-bottom: 2px solid $tred;
  border-bottom-right-radius: 2px;
  transform: rotate(45deg);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}


// ----------------- scroll indicator animation -------------------------- >s

@-webkit-keyframes fade {
  0% {
    transform: rotate(45deg);
    opacity: 1;
  }
  75% {
    transform: rotate(45deg) translateY(-6px) translateX(-6px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    transform: rotate(45deg);
    opacity: 1;
  }
  75% {
    transform: rotate(45deg) translateY(-6px) translateX(-6px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



