<div class="container">
  <div class="avatar-section">
  </div>
  <div class="profil-section">
    <h2> Welcome <%= current_user.nickname %> </h2>
    <h3>Profil</h3>
    <div class="profil-info d-flex">
      <p>Nickname: </p>
      <%= current_user.nickname %>
    </div>
    <div class="profil-info d-flex">
      <p>Email: </p>
      <%= current_user.email %>
    </div>
    <h3>Provider</h3>
    <div class="d-flex">

    </div>
  </div>
  <%= link_to "add provider",  new_user_user_provider_path(current_user) %>
</div>
