<div class="banner-home-wrap">

  <div class="banner-home">
    <div class="container">
      <div class="banner-home-info">
        <h1>It's more <br> than just a movie!</h1>
        <p>Let the game select a movie, and discover it with your friends!</p>
        <div class="banner-home-btn">
          <div class=" button letters">
            <%= link_to "Join party", new_participation_path(@participation), class: "btn" %>
          </div>
          <div class=" button letters">
            <%= link_to "Create party", new_game_path(@game), class: "btn" %>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="scroll-indicator"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-home">
    <div class="card-home-img">
      <%= image_tag("Illu.png") %>
    </div>
    <div class="card-home-info">
      <h3>How to play</h3>
      <ul>
        <li class="card-home-info-items">
          <i class="fas fa-chevron-circle-right"></i>
          <p>Create and customize your game from a computer, tablet or phone</p>
        </li>
        <li class="card-home-info-items">
          <i class="fas fa-chevron-circle-right"></i>
          <p>A code appears and each player joins the game on his mobile, tablet or computer</p>
        </li>
        <li class="card-home-info-items">
          <i class="fas fa-chevron-circle-right"></i>
          <p>Each player answers a poll for each category chosen for the game</p>
        </li>
        <li class="card-home-info-items">
          <i class="fas fa-chevron-circle-right"></i>
          <p>After the reveal, the game creator can start the movie as soon as everyone is ready!</p>
        </li>
      </ul>
    </div>
  </div>
</div>



