<div class="banner-home-wrap">
        <h1>It's more <br> than just a movie!</h1>
</div>
<br>
<br>
<h1>Hooouuuppps ...</h1>
<br>
<h1>... pas de film avec vos critères de fous !</h1>  
<br>
<h1>   ... Relance une party ! </h1>


<br>
<br>
<br>
<div class=" button letters">
  <%= link_to "Create party" , new_game_path, class: "btn" %>
</div>