.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  // background: white;
  position: fixed;
  z-index: 999;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .navbar-collapse .navbar-nav .nav-item .nav-link{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: $t-title-font;
}
.navbar-lewagon .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
  color: #7E73FF;
}

.navbar-lewagon .navbar-collapse .navbar-nav .nav-item .sign-up, .sign-in{
  border: 2px solid $tred;
  color: $tred;
  border-radius: 50px;
  padding: 4px 24px;
  margin-left: 12px;
  font-family: $t-title-font;
  font-size: 14px;
}

.navbar-lewagon .navbar-collapse .navbar-nav .nav-item .sign-in{
  padding: 4px 24px;
  background-color: $tred;
}

#welcome{
  color: $tred;
}
